body {
  background: #EEEEEE;
  font-family: Playfair Display, serif;
}

#main {
  margin: 20px auto;
  width: 640px;
}

#main-canvas {
  width: 640px;
  height: 480px;
}

#palette {
  display: none;
  float: right;
  position: relative;
}

.palette-items {
  position: absolute;
  left: 20px;
  margin-top: 32px;
  background: white;
  box-shadow: rgba(0,0,0,0.5) 0 0 10px;
}

.palette-item {
  float: left;
  border: solid 1px #CACACA;
  width: 40px;
  height: 40px;
  padding: 4px;
  background: #F6F6F6;
}

.palette-item .image {
  width: 40px;
  height: 40px;
}

.palette-item.selected {
  background: #DDDDDD;
}

#todo {
  display: none;
  float: right;
  color: #000000;
  position: relative;
}

.todo-list {
  position: absolute;
  left: 20px;
  width: 300px;
}

.menu {
  clear: both;
  height: 31px;
}

.display {
  width: 640px;
  height: 480px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
}

.game-module {
}

.rules-module {
  display: none;
  width: 630px;
  height: 470px;
  background: #FFFFFF;
  padding: 5px;
}

.rules-module .constant {
  margin-bottom: 5px;
}

.rules-module .constant label {
  width: 140px;
  display: block;
  float: left;
}

.rules-module .constant input {
  width: 60px;
}

.rules-module .constant p {
  font-size: 12px;
  margin: 0 0 10px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: block;
  float: left;
  padding: 5px 10px;
  background: #D63DBE;
  margin-right: 3px;
  cursor: pointer;
}

.menu li.active {
  background: #223FA4;
  color: #FFF;
}
